<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir}/logs/internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${currentdir}/logs/${shortdate}/all.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
    
    <target xsi:type="File" name="errors" fileName="${currentdir}/logs/${shortdate}/errors.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${aspnet-request-url:IncludeQueryString=true:IncludePort=true} | ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="grabbers" fileName="${currentdir}/logs/${shortdate}/grabbers.log"
        layout="${longdate} | ${mdlc:item=grabRequestId} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="service" fileName="${currentdir}/logs/${shortdate}/service.log"
      layout="${longdate} | ${mdlc:item=backgroundTaskId} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="errors" />

    <logger name="*" minlevel="Trace" writeTo="grabbers">
      <filters>
        <when condition="length('${mdlc:item=grabRequestId}') == 0" action="Ignore" />
      </filters>
    </logger>

    <logger name="*" minlevel="Trace" writeTo="service">
      <filters>
        <when condition="length('${mdlc:item=backgroundTaskId}') == 0" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>