@import "variables";

.tracks-settings-container {
    background: $dark-bg;
    position: absolute;
    right: 10px;
    bottom: #{$player-height + 20px};
    padding: 20px 10px;
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 100;

    &--initial {
        position: static;
        margin-top: 50px;
        width: 100%;
        padding: 0;
    }

    &--hidden {
        opacity: 0;
    }
}

.tracks-settings {
    &__header {
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__btn {
        margin: 4px 4px;
    }
}