<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir}/logs/internal-nlog.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="errors" fileName="${currentdir}/logs/${shortdate}/errors.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${aspnet-request-url:IncludeQueryString=true:IncludePort=true} | ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="jobs" fileName="${currentdir}/logs/${shortdate}/job-${mdlc:item=jobId}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=tostring}" />
  
    <target xsi:type="File" name="app" fileName="${currentdir}/logs/${shortdate}/app.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${aspnet-request-url:IncludeQueryString=true:IncludePort=true} | ${message} ${exception:format=tostring}" />
  
    <target xsi:type="File" name="system" fileName="${currentdir}/logs/${shortdate}/system.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${aspnet-request-url:IncludeQueryString=true:IncludePort=true} | ${message} ${exception:format=tostring}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="Microsoft.*" minlevel="Info" writeTo="system" />
    <logger name="System.*" minlevel="Info" writeTo="system" />
    
    <logger name="*" minlevel="Error" writeTo="errors" />

    <logger name="FluentMigrator.*" minlevel="Info" writeTo="app"/>
    <logger name="Musili.*" minlevel="Trace" writeTo="app">
      <filters>
        <when condition="length('${mdlc:item=jobId}') != 0" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="Musili.*" minlevel="Trace" writeTo="jobs">
      <filters>
        <when condition="length('${mdlc:item=jobId}') == 0" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>