.player {
    background: #3d4558;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;

    &__control-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 6px;

        svg {
            transition: opacity 0.3s;
            opacity: 0.8;
        }

        &:hover {
            svg {
                opacity: 1;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__middle-controls {
        margin-left: 40px;
    }
}

.track-info {
    &__artist {
        font-size: 0.9rem;
    }
}