@import "variables";

.tracks-settings-container {
    margin-top: 50px;
    width: 100%;
    background: $dark-bg;
}

.tracks-settings {
    &__header {
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__footer {
        text-align: center;
        margin-top: 20px;
    }

    &__btn {
        margin: 4px 4px;
    }
}