@import "variables";
@import "buttons";
@import "tracks-settings";
@import "player";

.site-body {
    background-color: $dark-bg;
    color: $light-text-color;
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.site-header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
}

.site-tagline {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;

    &__item {
        margin-bottom: 6px;
    }
}